*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.top{
    display: flex;
    flex-direction: column;
}

header{
    padding: 1rem;
}

#openDialog{
    background-color:crimson;
    color: white;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
}

#dialog{
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog > button{
    padding: 8px;
    margin-bottom: 1rem;
}

form > button{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    background-color: crimson;
    color: white;
}

fieldset{
    border: 0;
    margin-top: 1rem;
}

fieldset > legend{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

::backdrop{
    background-color: black;
    opacity: 0.75;
}

form{
    display: flex;
    flex-direction: column;
}

form > label{
    margin-top: 1rem;
}

.books{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80vw;
    padding: 1rem 3rem;
    border: 2px black solid;
    border-radius: 1rem;
    gap: 1rem;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(200px, 30%);
    border: 1px solid blue;
    border-radius: 1rem;
}